@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #9b9165;
}

.stop-move {
  overflow: hidden !important;
}

.nav-mobile--active {
  transform: translateX(0) !important;
}

.header {
  display: flex;
  overflow-x: hidden;
}
.header .nav__mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #191919;
  justify-content: center;
  align-items: center;
  transform: translateX(122%);
  background-color: #191919;
  transition: 0.3s;
  z-index: 5;
}
.header .nav__mobile ul li {
  display: block;
  flex-direction: column;
  margin: 5em;
  padding: 1em;
  text-align: center;
}
.header .nav__mobile ul li a {
  color: rgba(214, 199, 142, 0.7);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: 0.1px;
  transition: color 0.3s;
}
.header .container-header {
  position: fixed;
  width: 100%;
}
.header .container-header .logo-header {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  margin-left: 8em;
  padding: 10rem;
}
.header .container-header .logo-header h1 {
  top: 15rem;
  left: 15rem;
  padding: 1.5rem;
  text-transform: uppercase;
  color: #9b9165;
  font-size: 7em;
  letter-spacing: 7px;
  font-family: "Roboto", serif;
  text-shadow: 9px -1px 9px #191919;
}
.header .container-header .main-nav__desktop {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 8rem;
}
.header .container-header .main-nav__desktop ul {
  margin-right: 16rem;
}
.header .container-header .main-nav__desktop ul li {
  display: inline-block;
  padding: 0 2.5rem;
}
.header .container-header .main-nav__desktop ul li a {
  color: rgba(214, 199, 142, 0.7);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8em;
  letter-spacing: 0.1px;
}
.header .burger-btn {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 2.5%;
  padding: 2.2rem;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 6;
}
.header .burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.header .burger-btn:hover .burger-btn__bars::after,
.header .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.header .burger-btn__box {
  position: relative;
  width: 3.6rem;
  height: 2rem;
}
.header .burger-btn__bars, .header .burger-btn__bars::before, .header .burger-btn__bars::after {
  position: absolute;
  right: 0;
  height: 0.3rem;
  content: "";
  background-color: #d6c78e;
  transition: width 0.3s;
}
.header .burger-btn__bars {
  width: 100%;
}
.header .burger-btn__bars::after {
  top: 1.3rem;
  width: 60%;
}
.header .burger-btn__bars::before {
  top: 2.7rem;
  width: 30%;
  transition-delay: 0.1s;
}

.container-main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
}
.container-main .main-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("/img/Audi-R8-GT-67.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.container-main .main-text {
  color: #fff;
}
.container-main .main-text .main-title {
  position: absolute;
  top: 11rem;
  left: 3.5rem;
  font-size: 4em;
  color: #d6c78e;
  text-shadow: 6px -1px 6px #9b9165;
}
.container-main .main-text .helps-you {
  position: absolute;
  top: 15rem;
  left: 6.5rem;
  margin-top: 1em;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
.container-main .main-text .helps-you__line {
  position: absolute;
  top: 18.3rem;
  left: 18rem;
  width: 4rem;
  height: 0.1rem;
  border: none;
  border-bottom: 2px solid #fff;
}
.container-main .main-text h3 {
  position: absolute;
  top: 30.5rem;
  left: 8rem;
  margin-right: 1.3rem;
  width: 70%;
  color: #d6c78e;
  font-size: 2em;
  text-align: end;
  font-family: "Montserrat", sans-serif;
}
.container-main .main-text p {
  position: absolute;
  top: 39.5rem;
  padding: 1em;
  font-size: 1.5rem;
  width: 100%;
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", sans-serif;
}
.container-main .main-arrow {
  display: block;
  position: absolute;
  bottom: 5.2em;
  left: 50%;
  padding: 2em;
  transform: translateX(-50%);
  border: 1px solid #d6c78e; /* Assuming $gold is defined elsewhere in your code */
  border-radius: 50%;
}
.container-main .main-arrow::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #d6c78e; /* Assuming $gold is defined elsewhere in your code */
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.container-main .main-arrow__icon {
  width: 23px;
}

@media (min-width: 320px) {
  .main-nav__desktop {
    display: none;
  }
  .main-nav .header .container-header .burger-btn {
    display: none;
  }
}
@media (min-width: 481px) {
  .header .burger-btn {
    position: absolute;
    top: 2.5rem;
    right: 5.5%;
  }
  .container-main .main-text .main-title {
    position: absolute;
    font-size: 5em;
  }
  .container-main .main-text .helps-you {
    position: absolute;
    margin-top: 1.5em;
    left: 8.5rem;
    font-size: 2em;
  }
  .container-main .main-text .helps-you__line {
    position: absolute;
    top: 19.7rem;
    left: 21.5rem;
  }
  .container-main .main-text h3 {
    position: absolute;
    top: 35.5rem;
    left: 11rem;
    font-size: 3.2em;
    padding: 1em;
    width: 80%;
  }
  .container-main .main-text p {
    position: absolute;
    margin-top: 1em;
    top: 49rem;
    font-size: 2.1em;
  }
  .container-main .main-arrow {
    position: absolute;
    bottom: 7em;
  }
  .container-main .main-arrow__icon {
    width: 30px;
  }
}
@media (min-width: 769px) {
  .container-main .main-text .main-title {
    position: absolute;
    font-size: 7em;
  }
  .container-main .main-text .helps-you {
    position: absolute;
    margin-top: 2em;
    left: 12.5rem;
    font-size: 3em;
  }
  .container-main .main-text .helps-you__line {
    position: absolute;
    top: 23.7rem;
    left: 31.5rem;
    width: 6rem;
  }
  .container-main .main-text h3 {
    position: absolute;
    top: 40rem;
    left: 16rem;
    font-size: 4.3em;
    padding: 1em;
    width: 80%;
  }
  .container-main .main-text p {
    position: absolute;
    top: 54rem;
    margin-top: 1.5em;
    font-size: 2.4em;
  }
  .container-main .main-arrow {
    position: absolute;
    bottom: 7.5em;
  }
  .container-main .main-arrow__icon {
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .header .container-header .main-nav__desktop {
    display: flex;
    background-color: #fff;
  }
  .header .container-header .main-nav__desktop ul {
    margin-right: 5rem;
  }
  .header .container-header .main-nav__desktop ul li {
    padding: 1.4rem;
  }
  .header .container-header .main-nav__desktop ul li a {
    font-size: 1.8em;
  }
  .header .burger-btn {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */