@media (min-width: 580px) {
	.header {
		.container-header {
			// display: none;
			.main-nav {
				&__mobile {
					background-color: red;
					// display: none;
				}

				&__desktop {
					display: none;
				}
			}
			.burger-btn {
				display: none;
			}
		}
	}
}
