@import "./mobile";
@import "./colors";
@import "./animations";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; //10px
	scroll-behavior: smooth;
}

body {
	//font-family: "Montserrat", sans-serif;
	font-family: "Roboto", sans-serif;
	height: 100vh;
	background-color: $darkgold;
}

.stop-move {
	overflow: hidden !important;
}

.nav-mobile--active {
	transform: translateX(0) !important;
}

.header {
	display: flex;
	overflow-x: hidden;

	.nav__mobile {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		background-color: $darker;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transform: translateX(100%);
		transition: 0.3s;
		z-index: 5;
		ul {
			margin-right: 16rem;
			li {
				display: inline-block;
				padding: 0 2.5rem;

				a {
					color: rgba($gold, $alpha: 0.7);
					text-transform: uppercase;
					text-decoration: none;
					font-size: 1.8em;
					// padding: 0 1rem;
					letter-spacing: 0.1px;
				}
			}
		}
	}

	.container-header {
		position: fixed;
		width: 100%;
		.logo-header {
			display: none;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			position: absolute;
			margin-left: 8em;
			padding: 10rem;

			h1 {
				top: 15rem;
				left: 15rem;
				padding: 1.5rem;
				text-transform: uppercase;
				color: $darkgold;
				font-size: 7em;
				letter-spacing: 7px;
				font-family: "Roboto", serif;
				text-shadow: 9px -1px 9px $darker;
			}
		}

		.main-nav {
			&__desktop {
				display: none;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				height: 8rem;
				ul {
					margin-right: 16rem;
					li {
						display: inline-block;
						padding: 0 2.5rem;

						a {
							color: rgba($gold, $alpha: 0.7);
							text-transform: uppercase;
							text-decoration: none;
							font-size: 1.8em;
							// padding: 0 1rem;
							letter-spacing: 0.1px;
						}
					}
				}
			}
		}
	}
	.burger-btn {
		position: absolute;
		display: flex;
		justify-content: flex-end;
		top: 0;
		right: 2.5%;

		padding: 2.2rem;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 6;

		&:focus {
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 5px;
		}

		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}

		&__box {
			position: relative;
			width: 3.6rem;
			height: 2rem;
		}

		&__bars,
		&__bars::before,
		&__bars::after {
			position: absolute;
			right: 0;
			height: 0.3rem;
			content: "";
			background-color: $gold;
			transition: width 0.3s;
		}

		&__bars {
			width: 100%;

			&::after {
				top: 1.3rem;
				width: 60%;
			}
			&::before {
				top: 2.7rem;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}
}

//MAIN

.container-main {
	position: absolute;
	// justify-content: center;
	// align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-image: linear-gradient(
		to left,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.4)
	);

	.main-img {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: transparent;
		background-image: url("/img/Audi-R8-GT-67.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: -1;
	}

	.main-text {
		color: $white;
		.main-title {
			position: absolute;
			top: 11rem;
			left: 3.5rem;
			font-size: 4em;
			// right: 50rem;
			// font-size: 8.5rem;
			color: $gold;
			text-shadow: 6px -1px 6px $darkgold;
		}

		.helps-you {
			position: absolute;
			top: 15rem;
			left: 6.5rem;
			margin-top: 1em;
			text-transform: uppercase;
			font-size: 1.8rem;
			color: $white;
			letter-spacing: 1px;
			font-family: "Montserrat", sans-serif;

			&__line {
				position: absolute;
				top: 18.3rem;
				left: 18rem;
				width: 4rem;
				height: 0.1rem;
				border: none;
				border-bottom: 2px solid $white;
			}
		}

		h3 {
			position: absolute;
			top: 30.5rem;
			left: 8rem;
			margin-right: 1.3rem;
			width: 70%;
			color: $gold;
			font-size: 2em;
			text-align: end;
			font-family: "Montserrat", sans-serif;

			// font-weight: 400;
		}
		p {
			position: absolute;
			top: 39rem;
			left: 1rem;
			font-size: 1.5rem;
			width: 35rem;
			text-align: start;
			color: rgba(255, 255, 255, 0.7);
			font-family: "Montserrat", sans-serif;
		}
	}

	.main-arrow {
		display: block;
		position: absolute;
		bottom: 5.2em;
		left: 50%;
		padding: 2em;
		transform: translateX(-50%);
		border: 1px solid $gold; /* Assuming $gold is defined elsewhere in your code */
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 100%;
			border: 1px solid $gold; /* Assuming $gold is defined elsewhere in your code */
			border-radius: 50%;
			animation: pulse 2s infinite;
		}

		&__icon {
			width: 22px;
		}
	}
}
